// -------------------------------------------
// Color Palette
// -------------------------------------------

// white
$palette-white-000: #fff;

// gray
$palette-gray-100: #fafafa;
$palette-gray-200: #e9e9e9;
$palette-gray-500: #a2a2a2;
$palette-gray-900: #14171a;

// yellowBrown
$palette-yellowBrown-800: #cfa833;

// brown
$palette-brown-900: #340008;

// red
$palette-red-900: #cc0033;
