// --- color ---
$color-black: #333;
$color-gray: #c6c6c6;
$color-hight-gray: #ededed;
$color-white: #fafafa;
$color-navy: #11376b;
$color-green: #348E8A;
$color-light-green: #DCF2F0;
$color-red: #f44336;

// --- color brands---
$color-twitter: #1DA1F2;
$color-facebook: #3C5A99;
$color-line: #00B900;
$color-googlePlus: #DD5144;
$color-youtube: #DA1725;

// --- color set text ---
$color-text-primary: $color-black;
$color-text-secondary: $color-white;
$color-text-sub: $color-gray;

// --- color set background ---
$color-body-background: $color-white;
